.breadcrumbs {
  padding: 0 0 7px 0;
  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 25px;
    color: #8f8f8f;
    font-size: 14px;
  }
  &__item {
    position: relative;
    &::before {
      content: "/";
      position: absolute;
      left: -15px;
    }
    &:first-child::before {
      display: none;
    }
  }
  &__link {
    text-decoration: none;
    color: inherit;
  }
}
