.button {
  font-size: 14px;
  color: var(--color-white);
  margin: 0;
  padding: 12px 24px;
  background: var(--color-blue-dark);
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  &:disabled {
    background: var(--color-gray);
    color: var(--color-gray-dark);
    cursor: initial;
  }
  &_green {
    background: var(--color-green);
  }
  &_addToCart {
    transition: all 0.1s ease 0s;
    &:hover {
      text-decoration: none;
      opacity: 0.9;
    }
    &:active {
      transform: scale(0.98);
    }
  }
  &_booking {
    transition: all 0.1s ease 0s;
    &:hover {
      text-decoration: none;
      opacity: 0.9;
    }
    &:active {
      transform: scale(0.98);
    }
  }
}
