.button {
  font-size: var(--font-size-sm);
  color: var(--color-black);
  margin: 0;
  padding: 12px 16px;
  line-height: 1.2;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  background: var(--color-gray);
  transition: all 0.2s ease 0s;

  &:hover {
    text-decoration: none;
    background: var(--color-gray-hover);
  }

  &:disabled {
    background: var(--color-gray);
    color: var(--color-gray-dark);
    cursor: initial;
    &:hover {
      background: var(--color-gray);
    }
  }

  &:active {
    transform: scale(0.98);
  }

  &_addToCart {
    background: var(--color-green);
    color: var(--color-white);

    &:hover {
      background: var(--color-green-light);
    }
  }

  &_booking {
    color: var(--color-white);
    background: var(--color-blue-dark);

    &:hover {
      background: var(--color-blue-light);
    }
  }

  &_inline {
    color: var(--color-black);
    background: none;
    &:hover {
      background: var(--color-gray-hover);
    }
  }
}
