.button {
  font-size: 14px;
  color: var(--color-white);
  margin: 0;
  padding: 12px 24px;
  background: var(--color-blue-dark);
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  &:disabled {
    background: var(--color-gray);
    color: var(--color-gray-dark);
    cursor: initial;
  }
  &_green {
    background: var(--color-green);
  }
}
