.page {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 80px 40px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.layout {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 80px 40px;
  display: flex;
  gap: 16px;
}

.navbar {
  min-width: 240px;
  padding: 0 16px 0 0;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--mantine-color-gray-3);
}

.navbarMain {
  flex: 1;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-gray-7);
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  font-weight: 500;

  @mixin hover {
    background-color: var(--mantine-color-gray-0), var(--mantine-color-dark-6);
    color: var(--mantine-color-black), var(--mantine-color-white);

    .linkIcon {
      color: var(--mantine-color-black), var(--mantine-color-white);
    }
  }

  &[data-active] {
    &,
    &:hover {
      background-color: var(--mantine-color-blue-light);
      color: var(--mantine-color-blue-light-color);

      .linkIcon {
        color: var(--mantine-color-blue-light-color);
      }
    }
  }
}

.linkIcon {
  color: var(--mantine-color-dark-2);
  margin-right: var(--mantine-spacing-sm);
  width: 25px;
  height: 25px;
}
