.hero {
  box-sizing: border-box;
  background: #fafafa;
  overflow: hidden;

  &__title {
    font-size: 38px;
    font-weight: 700;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 40px;
    box-sizing: border-box;
  }

}

@media screen and (max-width: 800px){
  .hero {
    &__title {
      padding: 20px 20px;
    }
  }
}


@media screen and (max-width: 500px){
  .hero {
    &__title {
      font-size: 28px;
    }
  }
}
