.hero {
  background: url("../../../../shared/assets/header.jpg");
  background-position: bottom center;
  height: 600px;
  box-sizing: border-box;
  &__container {
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 40px;
  }
  &__title {
    font-size: 48px;
    font-weight: 700;
    max-width: 500px;
    margin: 90px 0 0 0;
    padding: 0;
  }
  .hero &__button {
    margin: 20px 0 0 0;
  }
}
