.hero {
  box-sizing: border-box;
  background: var(--color-gray-light);
  overflow: hidden;
  position: relative;
  height: 700px;
  padding: 70px 0 0 0;
  &__container {
    position: relative;
    z-index: 1;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: border-box;
  }
  &__imageContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0) 30%);
      z-index: 2;
    }
  }
  &__image {
    object-fit: cover;
  }
}

@media screen and (max-width: 1200px){
  .hero {
    height: 500px;
  }
}


@media screen and (max-width: 800px){
  .hero {
    &__container {
      padding: 0 20px;
    }
    &__title {
      padding: 20px 20px;
    }
  }
}


@media screen and (max-width: 500px){
  .hero {
    height: 500px;
    &__title {
      font-size: 28px;
    }
  }
}
