.excursionList {
  display: grid;
  gap: 48px 24px;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1200px) {
  .excursionList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 950px) {
  .excursionList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 650px) {
  .excursionList {
    grid-template-columns: repeat(1, 1fr);
  }
}

