.sectionTitle {
  font-size: 38px;
  margin: 0;
  padding: 0;
  font-weight: 500;
}

@media screen and (max-width: 600px){
  .sectionTitle {
    font-size: 38px;
  }
}

@media screen and (max-width: 500px){
  .sectionTitle {
    font-size: 28px;
  }
}

