.removeFromCart {
  font-size: 0;
  padding: 5px;
  box-sizing: border-box;
  border: none;
  outline: none;
  width: 32px;
  height: 32px;
  border-radius: 6px;
  background: var(--color-gray-light);
  cursor: pointer;
  position: relative;
  z-index: 2;

  &:hover {
    background: var(--color-gray);
  }

  span {
    background: url("../assets/basket-icon.png");
    display: inline-block;
    background-size: contain;
    width: 100%;
    height: 100%;
  }
}
