.contacts {
  &__telephone {
    font-size: 28px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
  }
  &__telephoneCode {
    font-size: 18px;
  }
  &__social {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 15px;
  }
  &__socialItem {
    position: relative;
    padding: 0 0 0 22px;
  }
  &__telegram::before {
    content: "";
    background: url("../../assets/telegram.png");
    width: 17px;
    height: 17px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }
  &__whatsapp::before {
    content: "";
    background: url("../../assets/whatsapp.png");
    width: 17px;
    height: 17px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }
}

.pageSettings {
  &__list {
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  &__item {
    position: relative;
    padding: 0 0 0 22px;
  }
}

.language::before {
  content: "";
  background: url("../../assets/lang_icon.png");
  width: 19px;
  height: 18px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.language {
  padding: 0 0 0 25px;
}
.currency {
  padding: 0 0 0 15px;
}
.currency::before {
  content: "";
  background: url("../../assets/usd_ircon.png");
  width: 10px;
  height: 17px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
