.attentionBlock {
  position: relative;
  padding: 0 0 0 35px;
  margin: 0;
  &::before {
    content: url("../../../../../../shared/assets/attention_icon.svg");
    position: absolute;
    width: 16px;
    height: 65px;
    left: 0;
  }
  &__title {
    font-size: 18px;
    font-weight: 500;
    color: var(--color-red-light);
  }
  &__description {
    margin: 7px 0 0 0;
    color: var(--color-gray-dark);
  }
}


@media screen and (max-width: 900px) {
  .attentionBlock {
    display: none;
  }
}
