.services {
  padding: 60px 0 40px 0;
  box-sizing: border-box;
  position: relative;
  background: var(--color-gray-light);
  &__container {
    overflow: hidden;
  }
  &__subheader {
    color: var(--color-gray-dark);
    max-width: 700px;
  }
  &__containerHeader {
    margin: 0 auto;
    padding: 0 40px;
    max-width: 1440px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  &__list {
    overflow-x: auto;
    overscroll-behavior: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    gap: 24px;
    display: flex;
    list-style-type: none;
    scroll-padding: 0 0 0 max(40px, calc((100vw - 1360px) / 2));
    padding-left: max(40px, calc((100vw - 1360px) / 2));
    padding-right: 40px;
  }
  &__image {
    z-index: 0;
    display: block;
    object-fit: cover;
  }
  &__item {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    flex-shrink: 0;
    flex-grow: 1;
    height: 400px;
    width: 45%;
    min-width: 280px;
    position: relative;
    overflow: hidden;
    background: var(--color-white);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      //background: rgba(34, 33, 33, 0.3);
      background: linear-gradient(to top, var(--color-gray-dark-2) 0%, rgba(0, 0, 0, 0) 50%);
      z-index: 1;
    }
  }
  &__containerText {
    position: relative;
    z-index: 2;
    padding: 30px;
    box-sizing: border-box;
    max-width: 80%;

  }
  &__buttonsContainer {
    padding: 5px 40px 5px 0;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    max-width: 1440px;
    width: auto;
    gap: 50px;
    box-sizing: border-box;
    & > button {
      border: 1px solid var(--color-gray-dark);
      position: relative;
      top: 15px;

    }
  }
  &__title {
    color: var(--color-white);
  }
  &__caption {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
    line-height: 2;
  }
}



@media screen and (max-width: 1100px){
  .services {
    &__item {
      width: 60%;
    }

  }
}

@media screen and (max-width: 900px){
  .services {
    &__item {
      width: 80%;
    }
  }
}

@media screen and (max-width: 800px){
  .services {
    &__list {
      scroll-padding: 0 0 0 max(20px, calc((100vw - 1360px) / 2));
      padding-left: max(20px, calc((100vw - 1360px) / 2));
      padding-right: 20px;
    }
    &__item {
      width: 80%;
    }
  }
}

@media screen and (max-width: 600px){
  .services {
    padding: 40px 0 40px 0;
    width: 100%;
    &__list {
      width: 100%;
      box-sizing: border-box;
      padding: 0 40px;
    }
    &__item {
      width: 100%;
      flex: unset;
      flex-shrink: 0;
    }
    &__containerHeader {
      padding: 0 20px;
      gap: 1rem;
    }
    &__buttonsContainer {
      padding: 2rem 0.5rem 1rem 0;
    }
  }
}
