.routePoint {
  display: flex;
  gap: 30px;
  position: relative;
  width: 100%;

  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &__subheader {
    width: fit-content;
    border-bottom: thin dashed var(--color-gray-very-dark);
    cursor: pointer;
    margin: 0 0 10px 0;
    transition: background-color 0.2s ease;
    padding: 0 0 5px 0;
    &:hover {
      background: var(--color-blue-light-2);
      transition: background-color 0.2s ease;
    }
  }

  &__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
    gap: 2px;
    width: 50%;
  }

  &__imageContainer {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
  }

  &__image {
    object-fit: cover;
    border-radius: 8px;
  }
  &__descriptionContainer {
    width: 50%;
  }
  &__caption {
    margin: 16px 0 0 0;
    padding: 0 0 0 15px;
    max-width: 280px;
    font-size: 14px;
    line-height: 1.4;
    color: var(--color-gray-dark);
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 4px;
      height: 100%;
      background: var(--color-red-light);
      left: 0;
    }
  }

  &__collapse {
    display: flex;
    gap: 24px;
    width: 100%;
  }
}


@media screen and (max-width: 1200px) {
  .meetingPoint {
    &__gallery {
      grid-template-columns: repeat(2, 1fr);
    }

    &__container {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1050px) {
  .meetingPoint {
    flex-direction: column;

    &__gallery {
      width: 100%;
      grid-template-columns: repeat(3, 1fr);
    }

    &__container {
      width: 100%;
    }
  }
}

@media screen and (max-width: 900px) {
  .meetingPoint {
    &__gallery {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

@media screen and (max-width: 550px) {
  .meetingPoint {
    &__gallery {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
