.registration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;

  &__title {
    font-size: var(--font-size-xl);
  }

  &__container {
    max-width: 400px;
    margin: 0 auto;
  }

  &__form {
    margin: 24px 0;
  }
}
