.parameters {
  display: flex;
  padding: 20px;
  background: #f5f5f5;
  border-radius: 4px;
  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    gap: 30px 15px;
  }
  &__imageContainer {
    position: relative;
    width: 35px;
    height: 35px;
    min-width: 35px;
  }
  &__image {
    object-fit: contain;
  }
  &__item {
    display: flex;
    gap: 15px;
    box-sizing: border-box;
    width: calc(50% - 15px);
  }
  &__title {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #8f8f8f;
    font-weight: 400;
  }
  &__value {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #191919;
    line-height: 1.5;
  }

}

@media screen and (max-width: 1300px){
  .parameters {
    &__item {
      width: calc(33.3% - 15px);
    }
  }
}
@media screen and (max-width: 1100px){
  .parameters {
    &__item {
      width: calc(50% - 15px);
    }
  }
}
@media screen and (max-width: 900px){
  .parameters {
    &__item {
      width: calc(33.3% - 15px);
    }
  }
}
@media screen and (max-width: 700px){
  .parameters {
    &__item {
      width: calc(50% - 15px);
    }
  }
}
@media screen and (max-width: 500px){
  .parameters {
    &__item {
      width: 100%;
    }
  }
}
