.home {
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 40px 40px;
}

.aboutUs {
  padding: 80px 0 0 0;
  &__subtitle {
    text-align: center;
  }
}

.timeline {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__item {
    display: grid;
    grid-template-columns: 1fr 150px 1fr;
    gap: 20px;
    padding: 5px 0 0 0;
    align-items: start;
    position: relative;
    min-height: 200px;
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 70px;
      bottom: 0;
      width: 2px;
      background: repeating-linear-gradient(
                      to bottom,
                      #4bb662,
                      #4bb662 15px,
                      transparent 10px,
                      transparent 30px
      );
    }
    &:last-child::after {
      bottom: 80px;
    }
    &:nth-child(even) .timeline__description {
      grid-column: 1 / 2;
      grid-row: 1;
      text-align: right;
    }
  }

  &__year {
    font-size: 48px;
    font-weight: 400;
    color: #9F0B2F;
    justify-self: center;
    grid-column: 2 / 3;
  }
  &__description {
    max-width: 400px;
    margin: 0;
    padding: 0;
    color: #797979;
    font-size: 16px;
    line-height: 1.4;
  }
}

@media screen and (max-width: 750px) {
  .timeline {
    align-items: start;
    &__item {
      grid-template-columns: 150px 1fr;
      min-height: 100px;
      &:nth-child(even) .timeline__description {
        grid-column: 2 / 3;
        grid-row: 1;
        text-align: left;
      }
      &:last-child {
        min-height: 200px;
      }
      &::after {
        left: 60px;
      }
    }
    &__year {
      grid-column: 1 / 2;
      justify-self: start;
    }
    &__description {
      padding-bottom: 40px;
    }
  }
}

@media screen and (max-width: 600px) {
  .home {
    padding: 40px 20px;
  }
}

@media screen and (max-width: 500px) {
  .timeline {
    &__item {
      grid-template-columns: 1fr;
      &::after {
        display: none;
      }
      &:nth-child(even) .timeline__description {
        grid-column: 1 / 2;
        grid-row: 2;
        text-align: left;
      }
    }
  }

}
