.home {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 0 40px 0;
}

.aboutUs {
  padding: 80px 0 0 0;
  &__subtitle {
    text-align: center;
  }
}

.timeline {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__item {
    display: grid;
    grid-template-columns: 1fr 150px 1fr;
    gap: 20px;
    padding: 5px 0 0 0;
    align-items: start;
    position: relative;
    min-height: 200px;
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 70px;
      bottom: 0;
      width: 2px;
      background: repeating-linear-gradient(
                      to bottom,
                      #4bb662,
                      #4bb662 15px,
                      transparent 10px,
                      transparent 30px
      );
    }
    &:last-child::after {
      display: none;
    }
    &:nth-child(even) .timeline__description {
      grid-column: 1 / 2;
      grid-row: 1;
      text-align: right;
    }
  }

  &__year {
    font-size: 48px;
    font-weight: 400;
    color: #9F0B2F;
    justify-self: center;
    grid-column: 2 / 3;
  }
  &__description {
    max-width: 400px;
    margin: 0;
    padding: 0;
    color: #797979;
    font-size: 16px;
    line-height: 1.4;
  }
}
