.navbar {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  align-items: center;
  height: 70px;

  &__container {
    display: flex;
  }

  &__containerMenu {
    min-width: 320px;
    display: flex;
    gap: 80px;
  }

  &__logo {
    margin-right: auto;
  }

  &__pageSettings {
    align-self: center;
  }

  &__menu {
    align-self: center;
  }
  &__cart {
    align-self: center;
  }

}

.contacts {
  &__telephone {
    font-size: 28px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
  }

  &__telephoneCode {
    font-size: 18px;
  }

  &__social {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 15px;
  }

  &__socialItem {
    position: relative;
    padding: 0 0 0 22px;
  }

  &__telegram::before {
    content: "";
    background: url("../../../../shared/assets/telegram.png");
    width: 17px;
    height: 17px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }

  &__whatsapp::before {
    content: "";
    background: url("../../../../shared/assets/whatsapp.png");
    width: 17px;
    height: 17px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }
}

.pageSettings {
  &__list {
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    position: relative;
    padding: 0 0 0 22px;
  }
}

.language::before {
  content: "";
  background: url("../../../../shared/assets/lang_icon.png");
  width: 19px;
  height: 18px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.language {
  padding: 0 0 0 25px;
}

.currency {
  padding: 0 0 0 15px;
}

.currency::before {
  content: "";
  background: url("../../../../shared/assets/usd_ircon.png");
  width: 10px;
  height: 17px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.menu {
  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 30px;
  }

  &__link {
    text-decoration: none;
    color: inherit;
  }
}


@media screen and (max-width: 1100px) {
  .navbar {
    gap: 60px;

    &__containerMenu {
      gap: 60px;
    }
  }
}



@media screen and (max-width: 800px) {
  .contacts {
    display: block;
    margin: 0 auto;
  }
  .menu {
    &__list {
      align-items: center;
    }
  }
  .navbar {
    padding: 20px 20px;

    &__container_isOpen {
      width: 100%;
      background: rgba(43, 43, 43, 0.7);
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 2;
      transition: background 200ms ease-in;
    }

    &__containerMenu {
      visibility: hidden;
      transition: transform, visibility 200ms ease-in;

      &_mobile {
        background: #ffffff;
        flex-direction: column;
        max-width: 350px;
        height: 100vh;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 2;
        padding: 200px 0 0 0;
        transform: translateX(100%);
      }

      &_isOpen {
        visibility: visible;
        transform: translateX(0%);
        transition: transform 200ms ease-in;
      }
    }
  }
  .menu {
    &__list {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 500px) {
  .navbar {
    &__containerMenu {
      width: 100%;
    }
  }
}
