.flexContainer {
  display: flex;
  gap: 70px;
}

.excursionPage {
  &__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 0 80px 0;
    display: flex;
    gap: 40px;
  }
  &__containerDescription {
    max-width: 700px;
  }
  &__sideBar {
    max-width: 340px;
  }
}

