.timeSpending {
  display: flex;
  gap: 50px;

  &__smallTitle {
    font-size: 14px;
    color: #8f8f8f;
    font-weight: 400;
    text-align: left;
    margin: 0;
    padding: 0 0 10px 0;
  }
  &__timeTable {
    border-collapse: collapse;
    min-width: 120px;
  }
  &__timeStart {
    width: 80px;
    margin: 10px 0 0 0;
  }
  &__timeStart span {
    position: relative;
    z-index: 1;
    background: #ffffff;
    padding: 0 5px 0 0;
    line-height: 1.3;
  }
  &__timeEnd {
    position: relative;
    width: 60px;
    &::before {
      content: "";
      position: absolute;
      border-bottom: 2px dotted #8f8f8f;
      width: 40px;
      bottom: 6px;
      left: -45px;
    }
  }
  &__durationValue {
    margin: 0;
    padding: 0;
    white-space: nowrap;
  }
}

@media screen and (max-width: 1000px) {
  .timeSpending {
    gap: 30px;
    flex-wrap: wrap;
  }
}

