.priceBlock {
  --base-font-size: 20px;

  &_size_m {
    --base-font-size: 25px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: flex-end;
  }

  &__price {
    font-size: var(--base-font-size);
    font-weight: 500;
    color: var(--color-red);
    white-space: nowrap;
  }

  &__oldPrice {
    font-size: calc(var(--base-font-size) * 0.8);
    font-weight: 400;
    color: var(--color-gray-dark-2);
    margin: 0 0 0 10px;
    position: relative;
    white-space: nowrap;

    &::after {
      content: "";
      position: absolute;
      height: 1px;
      background: var(--color-gray-dark-2);
      width: 100%;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__discount {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-gray-dark);
    width: 49px;
    height: 21px;
    background: url("../../assets/discount_icon.svg") no-repeat;
    background-position: center center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 5px 0 0;
    margin: 0 0 0 20px;
    align-self: center;
  }
}

@media screen and (max-width: 550px) {
  .priceBlock_priceSection {
    &__price {
      font-size: calc(var(--base-font-size) * 0.7);
      order: 1;
    }
    &__oldPrice {
      font-size: calc(var(--base-font-size) * 0.5);
    }
  }
}

@media screen and (max-width: 370px) {
  .priceBlock {
    &__price {
      font-size: calc(var(--base-font-size) * 0.9);
    }
  }
  .priceBlock_priceSection {
    &__discount {
      display: none;
    }
    &__price {
      font-size: calc(var(--base-font-size) * 0.6);
    }
    &__oldPrice {
      font-size: calc(var(--base-font-size) * 0.5);
    }
  }
}
