.footer {
  background: #2b2b2b;
  color: #ffffff;
  &__container {
    display: flex;
    gap: 40px;
    max-width: 1440px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 30px 40px;
  }
  &__item {
    flex: 1;
  }
  &__text {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 16px;
    color: #ffffff;
  }
}
